<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chi tiết cụm rạp</title>
<link rel="stylesheet" href="css/style.css" />
</head> 
<%- include('header'); -%>
<body>
    <div class= "listc">
        <br>
        <center><h1><b>CGV CINEMAS</h1></b></center>
        <hr>
    </div>
    <div class="col-md-4">
        <ul>
            <h3>TP Hồ Chí Minh </h3>
            <li><a href="#">CGV Hùng Vương Plaza</a></li>
            <li><a href="#">CGV Vivo Plaza</a></li>
            <li><a href="#">CGV Vincom Thủ Đức</a></li>
        </ul>
    </div>
    <div class="col-md-4" >
        <ul>
            <h3>Đà Nẵng</h3>
            <li><a href="#">CGV CGV Đồng Khởi</a></li>
            <li><a href="#">Vincom Linh Chiểu</a></li>
            <li><a href="#">CGV Hải Châu</a></li>
        </ul>
    </div>
    <div class="col-md-4" >
        <ul>
            <h3>Hà Nội</h3>
            <li><a href="#">CGV Trần Duy Hưng Plaza</a></li>
            <li><a href="#">CGV Hoàn Kiếm</a></li>
            <li><a href="#">CGV Lê Lợi</a></li>
        </ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="listc">
        <br>
        <center><h1><b>SHOWTIMES AND FARES</h1></b></center>
        <br>
    </div>
    <div class = "row">
    <hr>
        <div class="col-md-2" >
         <img src = "img/rsz_poster_aladdin_1.jpg"/>;
        </div>
        <div class="col-md-3" >
            <ul>
                <h4>Phim Trận Chiến Cuối Cùng - End Game</h4>
                <li>Giá vé: 45k</li>
                <li><a href="#">Lịch Chiếu Trong Ngày</a></li>
            </ul>
        </div>
    </div>
    <div class = "row">
        <hr>
        <div class="col-md-2" >
         <img src = "img/rsz_poster_aladdin_1.jpg"/>;
        </div>
        <div class="col-md-3" >
            <ul>
                <h4>Phim Trận Chiến Cuối Cùng - End Game</h4>
                <li>Giá vé: 45k</li>
                <li><a href="#">Lịch Chiếu Trong Ngày</a></li>
            </ul>
        </div>
    </div>
    <div class = "row">
        <hr>
        <div class="col-md-2" >
         <img src = "img/rsz_poster_aladdin_1.jpg"/>;
        </div>
        <div class="col-md-3" >
            <ul>
                <h4>Phim Trận Chiến Cuối Cùng - End Game</h4>
                <li>Giá vé: 45k</li>
                <li><a href="#">Lịch Chiếu Trong Ngày</a></li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include('footer'); -%> 
</body>

</html>
